
body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  width: 200px;
  padding: 20px;
  text-align: center;
}

.qr-area {
  background-color: hsl(215, 52%, 29%); /* light blue background */
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-left: 16%;
  padding-right: 16%;
}

.qr-area img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: block;
}

.card h2 {
  color: hsl(218, 44%, 22%);
  font-size: 18px;
  margin-bottom: 15px;
}

.card p {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
}
@media (max-width: 480px) {
  .card {
    width: 90%;
    padding: 15px;
  }

  .card h2 {
    font-size: 16px;
  }

  .card p {
    font-size: 14px;
  }
}

/* Medium screens (tablets) */
@media (min-width: 481px) and (max-width: 768px) {
  .card {
    width: 400px;
  }
}

/* Large screens (desktop and above) */
@media (min-width: 769px) {
  .card {
    width: 350px;
  }
}

